# Taller de leer PDFs

## Imports

In [2]:
import pandas as pd
import tabula as tb

data = []
archivo = './listado.pdf'

tables = tb.read_pdf(archivo, pages='all', encoding='latin-1')

## Logica

In [3]:
for table in tables:
    table.columns = ['CÓDIGO', 'Fecha del remate', 'Ciudad', 'Departamento', 'Tipo de bien', 'Avalúo remate', 'Oferta Mínima', 'Refencia']
    data.append(table)

## Conversion

In [4]:

df = pd.concat(data, ignore_index=True)

df.to_excel('asd.xlsx', index=False)
df.describe()

             CÓDIGO
count    538.000000
mean   37687.674721
std      311.170817
min    34489.000000
25%    37585.250000
50%    37737.500000
75%    37874.750000
max    38012.000000