# Provando en PANDAS

### importaciones

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as mt

### Code

In [4]:
series = pd.Series([2,4,6,7,9])
print(series)
print("posicion: "+series[3])

0    2
1    4
2    6
3    7
4    9
dtype: int64
7

In [17]:
print(series.shape)
print("filtro\n",series[series >5])
vector = pd.Series([None,3,4,5,pd.NaT,23])
vector.dropna()
print(vector.dropna())

(5,)
filtro
 2    6
3    7
4    9
dtype: int64
1     3
2     4
3     5
5    23
dtype: object

### leyendo CSV

In [19]:
data = pd.read_csv("dataset_banco.csv", sep=",")
print(data)

       age           job   marital  education default  balance housing loan  \
0       58    management   married   tertiary      no   2143.0     yes   no
1       44    technician    single  secondary      no     29.0     yes   no
2       33  entrepreneur   married  secondary      no      2.0     yes  yes
3       47   blue-collar   married    unknown      no   1506.0     yes   no
4       33       unknown    single    unknown      no      1.0      no   no
...    ...           ...       ...        ...     ...      ...     ...  ...
45210   51    technician   married   tertiary      no    825.0      no   no
45211   71       retired  divorced    primary      no   1729.0      no   no
45212   72       retired   married  secondary      no   5715.0      no   no
45213   57   blue-collar   married  secondary      no    668.0      no   no
45214   37  entrepreneur   married  secondary      no   2971.0      no   no

         contact  day month  duration  campaign  pdays  previous poutcome    y
0        unknown    5   may     261.0         1   -1.0         0  unknown   no
1        unknown    5   may     151.0         1   -1.0         0  unknown   no
2        unknown    5   may      76.0         1   -1.0         0  unknown   no
3        unknown    5   may      92.0         1   -1.0         0  unknown   no
4        unknown    5   may     198.0         1   -1.0         0  unknown   no
...          ...  ...   ...       ...       ...    ...       ...      ...  ...
45210   cellular   17   nov     977.0         3   -1.0         0  unknown  yes
45211   cellular   17   nov     456.0         2   -1.0         0  unknown  yes
45212   cellular   17   nov    1127.0         5  184.0         3  success  yes
45213  telephone   17   nov     508.0         4   -1.0         0  unknown   no
45214   cellular   17   nov     361.0         2  188.0        11    other   no

[45215 rows x 17 columns]

### info en pandas

In [20]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45215 non-null  int64
 1   job        45213 non-null  object
 2   marital    45214 non-null  object
 3   education  45214 non-null  object
 4   default    45215 non-null  object
 5   balance    45213 non-null  float64
 6   housing    45215 non-null  object
 7   loan       45215 non-null  object
 8   contact    45215 non-null  object
 9   day        45215 non-null  int64
 10  month      45215 non-null  object
 11  duration   45214 non-null  float64
 12  campaign   45215 non-null  int64
 13  pdays      45214 non-null  float64
 14  previous   45215 non-null  int64
 15  poutcome   45215 non-null  object
 16  y          45215 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 5.9+ MB
None

### Describe en Pandas *** âœ… ***

In [ ]:
print(data.describe())

### Filtrando **DATOS**

In [ ]:
print(data[data['age'== 776]])
print(data[data['age'== ]])

> Aclarar condicionales, Tail, range, limpieza de datos, filtros, quitando columnas dejando solo columnas que me interesan.  <-